.NavbarItems {
  background-color: rgba(255, 255, 255, 0.553);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.333);
  width: 99%;
  height: 80px;
  border-radius: 24px;
  box-shadow: 0 3px 5px 0 rgba(88,165,255);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
  padding-top: 25px;
}

.navbar-logo {
  color: rgb(88, 165, 255);
  font-weight: 400;
  font-size: 2.5rem;
  cursor: pointer;
  margin-right:750px;
  margin-bottom:20px ;

}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.4rem 0.2rem;
  white-space: nowrap;
  position: relative;
}

.nav-links i {
  padding-right: 10px;
  gap: 50px;
  
}

.nav-links:hover {
  background-color: rgb(88, 165, 255);
  color: #fff;
  height: 20px;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}





.menu-icons {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .navbar-logo{
    margin-right: 400px;
  }
  .NavbarItems {
    z-index: 99;
    width: 100%;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    border-radius: 13px;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }

  .nav-links {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem 0;
  }

  .nav-links:hover {
    background: rgb(88, 165, 255);
    transition: none;
    border-radius: 25px;
  }

  button {
    display: none;
  }

.NavbarItems .player{
  display: none;
}

  .menu-icons {
    display: block;
    
  }

  .menu-icons i {
    font-size: 1.2rem;
    color: #222; 
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
  }
}


